{% extends 'common/base.html' %}

{% block content %}
    <main>
        <section id="login">
            <div class="form">
                {% include 'common/messages.html' %}
                <h2>Login in Your Profile</h2>
                <form class="login-form" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Login</button>
                </form>
                <p>Don't have a profile yet?<a href="{% url 'register-user' %}">Click Here</a></p>
            </div>

        </section>

    </main>
{% endblock %}