{% extends 'common/base.html' %}
{% load quiz_filters %}

{% block content %}
 <div class="quiz-container">

     <!-- Add this block to display messages -->
     {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
         </ul>
     {% endif %}

     <form method="post" action="">
         {% csrf_token %}

         <h3>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h3>

         {% for question in page_obj %}
             <div class="question">
                 <p>{{ question.text }}</p>
                 {{ form|get_question_field:question.pk }}
             </div>
         {% endfor %}

         <div class="pagination">
             {% if page_obj.has_next %}
                 <button type="submit" class="btn btn-primary">Next Page</button>
             {% else %}
                 <button type="submit" class="btn btn-success">Finish & See Results</button>
             {% endif %}
         </div>
     </form>
 </div>
 {% endblock %}
