{% load static %}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <title>Avatar Project - Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <div class="topnav">
            <a href="{% url 'start-quiz' %}">Start Test</a>
            <a href="#">My Profile</a>
            <a href="#">Results and Graphs</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


    <footer>
         <p class="text-gray-700">&copy; 2025 Avatar Project</p>
    </footer>
</body>
</html>
