{% load static %}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <title>Avatar Project - Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <nav>
            <div class="topnav">
                <a class="pos-left" href="{% url 'index-page' %}">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">My Profile
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'profile-details' %}">View Profile</a>
                        <a href="{% url 'edit-profile' %}">Edit Profile</a>
                        <a href="{% url 'logout-user' %}" onclick="event.preventDefault(); document.getElementById
                        ('logout-form').submit()" class="menu-link">Logout</a>
                    </div>
                </div>
                <a href="{% url 'start-quiz' %}">Start Test</a>
                <a href="#">Results and Graphs</a>
            </div>
            <form style="display: none" id="logout-form" method="post" action="{% url 'logout-user' %}">
                {% csrf_token %}
            </form>
        </nav>
    {% else %}
        <nav>
            <div class="topnav">
                <a class="pos-left" href="{% url 'index-page' %}">Home</a>
                <a href="{% url 'login-user' %}">Login</a>
                <a href="{% url 'register-user' %}">Register</a>
            </div>
        </nav>
    {% endif %}

    {% block content %}
    {% endblock %}


    <footer>
         <p class="text-gray-700">&copy; 2025 Avatar Project</p>
    </footer>
</body>
</html>
