{% extends 'common/base.html' %}

<body>
    {% block content %}
        <header>
            <h1 class="text-3xl p-3 m-3 font-medium text-black dark:text-white">Welcome to The Avatar Project</h1>
            <p>Discover your strengths and weaknesses through our interactive test.</p>
        </header>

        <div class="information">
            <h1 class="text-xl m-3">Introduction</h1>
            <p>
                Our mission is to help individuals unlock their full potential by discovering their strengths,
                identifying areas for growth, and learning how to overcome personal obstacles.
                We believe that the greatest barrier between you and your goals is often yourself.

            </p><br>
            <p>
                    Our app is designed to support people in becoming better every day — by learning new skills,
                harnessing their strengths, and building a clear vision for their future.
                It's not just about achieving material success, but also about cultivating meaningful friendships,
                healthy relationships, and a deeper awareness of oneself.
            </p>

        </div>
    {% endblock %}

</body>
</html>
