@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Show only the result section */
  .dashboard-content, .dashboard-content * {
    visibility: visible;
  }

  .print-btn, #feedback-btn, h5 {
      visibility: hidden;
      display: none;
  }

  /* Position the visible part properly */
  .dashboard-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Optional: prevent page breaks inside results */
  .dashboard-content {
    page-break-inside: avoid;
  }
}



.dashboard-container {
    display: flex;
    padding: 20px;
    align-items: flex-start; /* aligns items to the top */
    gap: 20px; /* adds some space between the chart and the text */
}

.print-btn {
    padding: 10px 20px;
    margin-left: 30px;
    font-size: 16px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.print-btn:hover {
    color: #eaeaea;
}


.chart-js {
    flex: 2; /* takes 2 part of the available space */
    max-width: 60%;
}

.dashboard-content {
    flex: 1;
}

section.dashboard-section {
    border: 1px solid #404149;
    border-radius: 5px;
    padding-left: 10px;
    margin: 30px;
}

.chart-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
}

.attribute-info {
    width: 100%;
}

#myChart {
    width: 800px;
    height: 600px;
}