body {
  background-color: #ebebeb;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.topnav {
  overflow: hidden;
  padding: 0;
  background-color: #223333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a.pos-left {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 4%;
}

.topnav a:hover {
  background-color: #d6cdcd;
  color: black;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.topnav a:hover, .dropdown:hover .dropbtn {
  color: black;
  background-color: #D6CDCDFF;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #223433;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

header {
  justify-items: center;
}

div.content {
  text-align: justify;
  justify-items: center;
  padding: 10px;
}

.introduction {
  padding: 20px;
}

.intro{
  width: 600px;
}

.btn-1 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.btn-1:hover {
  background-color: #07d584;
  color: white;
}

div#action-buttons a {
  color: #e4e1e1;
  border-radius: 4px;
  padding: 8px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a#edit-btn {
  background-color: dodgerblue;
}

a#delete-btn {
  background-color: #dc2929;
}

div#action-buttons a:hover {
  color: white;
}

footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}