.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

div.question {
    text-align: left;
    padding: 5px 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


div.question div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.answer-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


div.pagination {
    text-align: center;
    margin-top: 30px;
}

.btn-3 {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn-3:hover {
    background-color: #006edc;
}