{% extends 'common/base.html' %}
{% load level_filter %}

{% block content %}
<body>
<div class="dashboard-container">
    <div class="dashboard-content">
        <h2>Hi, {{ profile.first_name|default:"" }} {{ profile.last_name|default:"" }}</h2>
        <h3>Let's check your Personality Traits</h3>
            {% for attr in result %}
            <section class="dashboard-section">
                <p class="attribute"> <strong>{{ attr.name|capfirst }}: {{ attr.score }}</strong></p>
                {# used custom filter to get the level and remove redundancy#}
                <p class="attribute">Level: {{ attr.score|get_level }}</p>
                <p class="attribute-info">{{ attr.description }}</p>
            </section>
            {% endfor %}

        <button onclick="window.print()" class="btn-3">🖨️ Print Your Results</button>


        <div id="action-buttons">
            <h5> Give your Feedback, It's important for us:</h5>
            <a href="{% url 'quiz-feedback' %}" id="feedback-btn">Send Feedback</a>
        </div>
    </div>

    <div class="chart-js">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const chart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: {{ data_labels|safe }},
        datasets: [{
            label: 'Your Skill Map',
            data: {{ data_values|safe }},
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: 3
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
});
</script>

</body>
{% endblock %}